<% wrap_layout :layout do %>
  <h3><%= data.page.title %></h3>

  <%= partial 'layouts/commons/meta', :locals => { :article => current_page } %>

  <div class="content">
    <%= yield %>
  </div>

  <div class="meta pull-left">
    <%= partial 'layouts/commons/tags', :locals => { :article => current_page, :section => :manuals || :softwares } %>
  </div>

  <div class="pull-right hidden-xs hidden-sm">
    <%= partial 'layouts/commons/social_likes' %>
  </div>

  <% content_for :sidebar do %>
    <div class="files">
      <ul class="media-list">
        <% current_page.data.files.each do |file| %>
          <li class="media">
            <div class="file-type pull-left">
              <%= content_type(file.link) %>
            </div>
            <div class="media-body">
              <%= link_to file.title, file.link, :class => 'js-download-files' %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
